<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
</head>
<body>
<h1>room</h1>
<div th:each="message: ${messages}">
    <p th:text="${message.messageText}"></p>
</div>

<form th:action="@{/message}" method="POST">
    <input type="text" name="messageText">
    <input type="hidden" name="userId" value="${userId}">
    <input type="hidden" name="roomId" value="${roomId}">
    <button type="submit">send message</button>
</form>
</body>
</html>